:root {
    --background: #f2f5f7;
    --background-10: #f2f5f799;
    --blue: #166aa2;
    --light-blue: #dbeaf5;
}

html {
    width: 100vw;
    font-family: Avenir Next;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
    text-align: center;
    font-family: Avenir Next;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

h2 {
    color: #000;
    text-align: center;
    font-family: Avenir Next;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

h3 {
    color: #000;
    font-family: Avenir Next;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

h4 {
    color: #fff;
    text-align: center;
    font-family: Avenir Next;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

h5 {
    color: #000;
    font-family: Avenir Next;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

a {
    text-decoration: none;
}

a:active {
    color: var(--blue);
}
